.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    margin: 0;
    text-align: center;
}

.title {
    font-size: 5em;
}

.title > a {
    color: #636b6f;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
}
.title > a:hover {
    color: purple;
}

.links {
    margin-bottom: 10px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
}

.links > a:hover {
    border-bottom: solid 2px purple;
}

.carousel-caption {
    color: purple;
    font-weight: bold;
    font-size: 1.5em;
}
.carousel-caption h3 {
    color: purple;
    font-weight: bold;
    font-size: 1.5em;
}

.marketing {
    margin-top: 20px;
}

.marketing .btn-secondary {
    background-color: purple;
    border: none;
}

.footer {
    background-color: purple;
    color: #fff;
}

.footer > a {
    font-size: 2em;
    color: #fff;
    font-family: 'Amaranth', sans-serif;
    text-decoration: none;
}

.feedback input {
    border: solid 1px purple;
}

.rrss > a {
    color: #636b6f;
}
.rrss > a:hover {
    color: purple;
}

.feedback  label {
    color: white;
}

.btn-sm {
    background-color: purple;
    border: solid 1px purple;
    color: white;
}